[Unit]
Description=Telegram VPN Shop Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/pg-shop
ExecStart=/usr/bin/python3 main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
