SERVICE_PORT= 62050
NODE_HOST = "0.0.0.0"

# use absolute path

# XRAY_EXECUTABLE_PATH = /usr/local/bin/xray
# XRAY_ASSETS_PATH = /usr/local/share/xray

SSL_CERT_FILE=CHANGE_ME
SSL_KEY_FILE=CHANGE_ME

# api key must be a valid uuid (you can use any version you want)
API_KEY=CHANGE_ME

### can be rest or grpc
SERVICE_PROTOCOL= "rest"

### developer options
# DEBUG = false
# GENERATED_CONFIG_PATH = /var/lib/pg-node/generated
# LOG_BUFFER_SIZE = 10000
# STARTUP_LOG_TAIL_SIZE = 200
# STATS_UPDATE_INTERVAL_SECONDS = 10
# STATS_CLEANUP_INTERVAL_SECONDS = 300

### WireGuard host NAT
# PG_NODE_WG_HOST_ROUTING = 1
# PG_NODE_WG_NAT_OUTPUT_INTERFACE = eth0
# PG_NODE_WG_NAT_EGRESS_ONLY = 0

# API_PORT is used by the node service API (pg-node)
API_PORT= 62051
